<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/app.css">
    <title>Data</title>
</head>
<body>

<div class="center">
    <div class="mountains"></div>
    <div class="sky">
        <div class="cloud"></div>
        <div class="cloud"></div>
    </div>
    <div class="frame">
        <div class="centre">
            {{#ifCond trajet "erreur"}}
                <h2 style="color: red">LE TRAJET SAISI EST INCORRECT</h2>
            {{else}}
                {{#ifSup pourcD 10}}
                    <h2 style="color: red">VOTRE TRAIN PARTIRA AVEC DU RETARD.</h2>
                {{else}}
                    <h2 style="color: green">Tout va bien, pas de retard en prévision au départ.</h2>
                {{/ifSup}}
                <br>
                <p style="font-size: 0.8em">Probabilité de retard au départ : {{pourcD}}% ({{retardDepart}} / {{nombreMax}} trajets) </p>
                <p style="font-size: 0.8em">Probabilité de retard à l'arrivée : {{pourcA}}% ({{retardArr}} / {{nombreMax}} trajets) </p>
            {{/ifCond}}

        </div>

        <div class="train">
            <div class="engine-front">
                <div class="chimney">
                    <div class="smoke"></div>
                    <div class="smoke smoke-2"></div>
                    <div class="smoke smoke-3"></div>
                    <div class="smoke smoke-4"></div>
                </div>
            </div>

            <div class="engine-body"></div>

            <div class="compartment">
                <div class="compartment-window"></div>
            </div>

            <div class="compartment compartment-two">
                <div class="compartment-window"></div>
            </div>

            <div class="compartment compartment-three">
                <div class="compartment-window"></div>
            </div>

            <div class="wheel-holder">
                <div class="wheel"></div>
                <div class="wheel wheel-2">
                    <div class="wheel-joint"></div>
                    <div class="wheel-joint wheel-joint-2"></div>
                </div>
                <div class="wheel wheel-3"></div>
                <div class="wheel wheel-4"></div>
                <div class="wheel wheel-5"></div>
                <div class="wheel wheel-6"></div>
                <div class="wheel wheel-7"></div>
                <div class="wheel wheel-8"></div>
                <div class="wheel wheel-9"></div>
            </div>
        </div>
    </div>
    <div class="bridge"></div>
</div>

<script src="js/app.js"></script>
</body>

</html>